#player1 {
  height: 20px;
  width: 20px;
  background-color: blue;
}

#player2 {
  height: 20px;
  width: 20px;
  background-color: red;
  margin-top: 5px;
}

#finishLine {
  background-color: black;
  height: 50px;
  width: 10px;
  position: relative;
  left: 90%;
  bottom: 45px;
}
